{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="{{ site.description }}" name="description">
		<meta content="{{ site.title }}" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
		
		<link href="{{ root_url }}/humans.txt" rel="author" type="text/plain">
		<link href="{{ root_url }}/favicon.ico" rel="icon">

		<link href="{{ root_url }}/css/application.css" rel="stylesheet">
		
		<link href="http://feeds.feedburner.com/turkeltaub" rel="alternate" title="{{ site.title }}" type="application/rss+xml" />
		
		<script type="text/javascript" src="http://use.typekit.com/lux8yqy.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="contain">
			<header>
				<section>
					<h1><a href="/">Ethan Turkeltaub</a></h1>
				</section>
			</header>
			<div id="main" role="main">
				{{ content | expand_urls: root_url }}
			</div>
			<footer>
				<nav>
					<section>
						<ul id="navigation">
							<h3>Navigation</h3>
							<li><a href="/hi">Profile</a></li>
							<li><a href="http://feeds.feedburner.com/turkeltaub">RSS</a></li>
						</ul>
						<ul id="networks">
							<h3>Networks</h3>
							<li><a href="http://twitter.com/ethnt">Twitter</a></li>
							<li><a href="http://github.com/eturk">GitHub</a></li>
							<li><a href="http://dribbble.com/Ethan">Dribbble</a></li>
						</ul>
					</section>
				</nav>
				<footer>
					<section>
						<p><a href="/">Ethan Turkeltaub</a> fecit 2012.</p>
					</section>
				</footer>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="/jsc/lib/jquery.fitvid.js"></script>
		<script src="/jsc/lib/jquery.media-element.js"></script>
		<script src="/jsc/application.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33270842-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			var GoSquared = {};
			GoSquared.acct = "GSN-270296-A";
			(function(w){
				function gs(){
					w._gstc_lt = +new Date;
					var d = document, g = d.createElement("script");
					g.type = "text/javascript";
					g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
					var s = d.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(g, s);
				}
				w.addEventListener ?
				w.addEventListener("load", gs, false) :
				w.attachEvent("onload", gs);
			})(window);
		</script>
		<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
			<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->
	</body>
</html>
