/*
	Ethan Turkeltaub
		file: css/application.css
*/

@import "lib/base";

$light-blue: rgb(42, 109, 100);
$blue: rgb(26, 57, 52);


/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}


/*
	II. Universal
*/

body {
	background: #fafafa;
	color: #444;
	font: 100 15px/1.75em $adelle, Georgia, serif;
}

a {
	color: $light-blue;
	text-decoration: none;

	&:hover {
		color: $blue;
	}

	&:visited {
		text-decoration: line-through;
	}
}

blockquote {
	border-left: 5px solid $light-blue;
	font-style: italic;
	margin: 2em 0;
	padding-left: 1.5em;
}

br {
	display: block;
	height: 3em;
}

br + h3, br + h4, br + h5, br + h6 {
	margin-top: 0;
	padding-top: 0;
}

code {
	background: #fefefe;
}

code, pre {
	color: #666;
	font: 0.85em/1.75em $droid-mono, monospace;
}

em {
	font-style: italic;
}

h1 {
	font: 3em/1em $continuo, Helvetica, sans-serif;
	text-transform: uppercase;

	a {
		color: rgba(255, 255, 255, 0.8);

		&:hover {
			color: rgba(255, 255, 255, 1.0);
		}
	}
}

h2 {
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;

	a {
		text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
	}
}

h3, h4, h5, h6 {
	font-weight: 600;
}

* + h3, * + h4, * + h5, * + h6 {
	margin-top: 2.25em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.15em;
}

h5 {
	font-size: 1.05em;
}

hr {
	border: 0;
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	width: 35%;
	margin: 3em auto;
}

img {
	border: 1px solid $light-blue;
	max-width: 99%;
	margin: 2em 0;
	padding: 1%;
}

ol, ul {
	margin: 1.75em 0;

	li {
		margin-left: 1.5em;
		padding-left: 0.5em;
	}
}

ol li {
	list-style-type: decimal !important;
}

p {
	& + p {
		margin-top: 2em;
	}

	& > img {
		text-align: center !important;
		text-indent: 0;
		display: block;

		& + p {
			text-indent: -2em !important;
		}
	}
}

pre {
	background: #fefefe;
	margin: 1.25em 0;
	padding: 1.5em;
	width: 100%;
}

ul li {
	list-style-type: disc !important;
}

strong {
	font-weight: 600;
}

::selection {
	color: #fff;
 	color: rgba(255, 255, 255, 0.85);
	background: $light-blue;
}


/*
	III. Header
*/

#contain > header {
	background: #333 url("/img/galaxy.jpg") no-repeat;
	background-size: cover;
	margin-bottom: 6em;

	section {
		@include container;

		padding: 4em 0;
		text-align: center;
	}
}


/*
	VI. Main
*/

#main {
	header {
		a {
			color: $blue;

			&:hover {
				color: darken($blue, 15%);
			}
		}
	}

	& > section {
		& > header {
			@include container;

			margin-bottom: 4em;
			text-align: center;

			h3 {
				border-bottom: 1px solid #ddd;
				color: #ccc;
				display: inline-block;
				letter-spacing: 1px;
				margin: 0 auto;
				text-transform: uppercase;
				width: 50%;
			}
		}
	}
}


/*
	V. Article
*/

article {
	@include container;

	& + article {
		margin-top: 20em;
	}

	footer {
		border-top: 1px solid #ddd;
		color: #ddd;
		font-size: 0.85em;
		margin: 2em auto 0;
		text-align: center;
		width: 50%;

		&:hover {
			border-top: 1px solid #ccc;
		}

		p {
			text-indent: -1em !important;

			a {
				color: #ccc;
			}

			&:first-child {
				a {
					display: block;
					height: 100%;
					padding-top: 1em;
					width: 100%;

					&:hover {
						color: #aaa;
					}
				}
			}

			& + p {
				font-style: italic;
				margin-top: 0;

				a {
					font-style: normal;
				}
			}
		}

		ul {
			margin-top: 0;

			li {
				display: inline !important;
				list-style-type: none !important;
				margin: 0;
				padding: 0;

				a {
					&:before {
						content: "#";
					}

					&:after {
						content: ", ";
					}
				}

				&:last-child {
					a {
						&:after {
							content: "";
						}
					}
				}
			}
		}
	}

	header {
		margin-bottom: 1em;
		text-align: center;
	}

	&.audio, &.link, &.quote, &.video, &.photo {
		& > p {
			text-align: center;
		}
	}

	&.audio {
		header {
			p {
				display: block;
				margin: 0 auto;
				width: 400px;
			}
		}
	}

	&.audio, &.video {
		header {
			margin-bottom: 1.5em !important;
		}
	}

	&.photo {
		img {
			margin: 0;
		}
	}

	&.quote {
		blockquote {
			margin: 0;

			p {
				text-align: justify;

				&:last-child {
					margin-top: 1em;
				}
			}
		}

		cite p:before {
			content: "\2014";
		}
	}

	&.link {
		h2 {
			font-size: 1.25em !important;
			letter-spacing: 0;

			&:after {
				content: " \2192";
			}
		}
	}

	&.text {
		& > p {
			text-align: justify;
		}

		p {
			& + p {
				margin-top: 0;
				text-indent: 2em;
			}

			& > img {
				text-indent: -2em;
			}
		}
	}

	.livefyre {
		margin-top: 3em !important;

		.lf_head_bar {
			visibility: hidden;
		}
	}
}


/*
	VI. Pagination
*/

#main > footer {
	@include container;

	margin-top: 8em;

	#older, #newer {
		span {
			display: block;
			width: 100%;

			a {
				background: lighten($light-blue, 15%);
				border-radius: 3px;
				color: white;
				display: block;

				padding-top: 0.5em;
				padding-bottom: 0.5em;
				text-align: center;

				&:hover {
					background: lighten($blue, 15%);
				}
			}
		}
	}

	#older {
		@include span-columns(2);
	}

	#number {
		@include span-columns(8);

		margin-top: 0.15em;
		text-align: center;

		span {
			font-style: italic;
		}
	}

	#newer {
		@include span-columns(2 omega);

		text-align: right;
	}
}


/*
	VII. Footer
*/

#contain > footer {
	background: url("/img/galaxy.jpg") 35% no-repeat;
	background-size: cover;
	color: #ccc;
	margin-top: 8em;
	text-align: center;

	a {
		color: #fafafa;

		&:hover {
			color: darken(#fafafa, 10%);
		}
	}

	footer {
		background: rgba(0, 0, 0, 0.35);
	}

	footer, nav {
		padding: 1.5em 0;
	}

	li {
		padding: 0;
		margin: 0;
		list-style-type: none !important;
	}

	nav {
		background: rgba(0, 0, 0, 0.35);

		h3 {
			color: #ddd;
			font-weight: 600;
			border-bottom: 1px solid #aaa;
			margin-bottom: 0.5em;
		}

		#navigation {
			@include span-columns(6);
		}

		#networks {
			@include span-columns(omega 6);
		}
	}

	section {
		@include container;
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
}