<div class="page blog">
	<div class="posts">
		<article>
			<header>
				<h2>Announcing Noted</h2>
			</header>
			<p>For my senior year at high school, I decided to do a capstone project. Students are given a (relatively) large amount of freedom to do whatever they&#8217;d like with this project, whether it be academic, charitable, or innovative.</p>
			<p>Besides AP Computer Science, there aren&#8217;t many courses that align with what I love doing. So, I see this as a great opportunity&mdash;I get to do something that I love doing, but get school credit for it. Since I&#8217;ve had the idea to do this project for years, having the ability to do it with the support of my school is wonderful.</p>
			<p>In about eighth grade, we began using a product that aimed to help students manage their research project by generating citations and keeping track of notes. While easier than manually writing down <a href="http://owl.english.purdue.edu/owl/resource/747/01/">all of the information that goes with citations</a>, it still was frustrating to use. Every time a teacher said we would be using this product for a project, the class would groan in unison. But more importantly, there was quite a steep learning curve&mdash;this makes it difficult to teach younger students.</p>
			<p>Plus, the featureset that this product has was very restrained&mdash;in this niche, there is a lot of room for innovation. Keeping track of a research project and its related information is something that quite a few people have a use for, including students, teachers, and researchers, so making it easier is something that no one has really taken a big step in.</p>
			<p>Thus, the idea for Noted was born.</p>
			<p>Noted is more than a research management tool, but a collaboration, discovery, and publishing tool as well. My aim is to make keeping track of your research not a burden, but something that feels natural and easy. Working with others should be as simple as finding a project you&#8217;re interested in and contributing. And finally, making the results of your research available to the public can be as simple as clicking a button.</p>
			<p>This project is still in its infancy. I&#8217;ve never created a business before&mdash;that will be difficult. There is an entire course at my school that does exactly that (e-commerce), so learning it all by myself and in half the time will be a challenge.</p>
			<p>I look forward to working on this project, as it is something I&#8217;m genuinely interested in. I have one foot in academics, and another in the career of my choice. Combining the two will be a great experience not only for me, but hopefully for the students I help with the results.</p>
			<p>Keep an eye out here or on <a href="http://twitter.com/ethnt">my Twitter</a> for news related to Noted. If you&#8217;re interested, you can see <a href="http://dribbble.com/ethan/tags/noted">Dribbble</a> to see the look of the site progressing or <a href="http://github.com/noted/noted">GitHub</a> to see how the code is coming along. It&#8217;ll certainly be a lot of work, but a challenge I look forward to.</p>
			<footer>
				<p class="meta">November 13th, 2012</p>
			</footer>
		</article>
	</div>
	<aside>
	</aside>
</div>
