/*
	Ethan Turkeltaub
		file: css/application.css
*/

@import "lib/base";

/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}


/*
	II. Universal
*/

body {
	font: 300 16px/1.75em $sans-serif;
}

a {
	color: $green;
	text-decoration: none;

	&:hover {
		color: darken($green, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

img {
	max-width: 100%;
}


/*
	III. Header
*/

#contain > header {
	background: darken($base, 5%);
	padding: 1em 0;

	.inner {
		@include container;
	}

	a {
		color: $text;

		&:hover {
			color: $green;
		}
	}

	aside {
		@include span-columns(6);
	}

	nav {
		@include span-columns(6 omega);

		font-size: 0.9em;

		ul {
			float: right;
		}

		li {
			display: inline-block;

			& + li {
				padding-left: 1em;
			}
		}
	}
}


/*
	IV. Main
*/

#main {
	@include container;

	margin-bottom: 4em;
	margin-top: 2em;

	figure {
		figcaption {
			color: $grey;
			font-style: italic;
		}
	}
}


/*
	V. Footer
*/

#contain > footer {
	border-top: 1px solid darken($base, 5%);
	padding: 2em 0 4em;

	.inner {
		@include container;

		p {
			font-size: 0.9em;
		}
	}
}
