/*
	Ethan Turkeltaub
		file: css/application.css
*/

@import "lib/base";

/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}


/*
	II. Universal
*/

body {
	background: $base;
	color: $text;
	font: 400 16px/1.75em $serif;
}

a {
	border-bottom: 1px solid $grey;
	color: $text;
	text-decoration: none;

	&:hover {
		color: $green;
	}
}

blockquote {
	border-left: 5px solid $light-grey;
	color: lighten($text, 20%);
	margin-top: 1.75em;
	padding-left: 1em;
}

code {
	background: ghostWhite;
	border: 1px solid #ddd;
	font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
	padding: 0 0.15em;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: $sans-serif;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

p + p {
	margin-top: 1.75em;
}

strong {
	font-weight: bold;
}

ul li {
	p + p {
		margin-top: 0;
	}
}


/*
	III. Header
*/

#contain > header {
	background: darken($base, 5%);
	padding: 1em 0;

	.inner {
		@include container;
	}

	a {
		border: none;

	}

	aside {
		@include span-columns(6);
	}

	nav {
		@include span-columns(6 omega);

		font-size: 0.9em;

		ul {
			float: right;
		}

		li {
			display: inline-block;

			& + li {
				padding-left: 1em;
			}
		}
	}
}


/*
	IV. Main
*/

#main {
	margin-bottom: 4em;
	margin-top: 2em;

	figure {
		a {
			border: none;
		}

		img {
			display: block;
			height: 500;
		}

		figcaption {
			color: $grey;
			font-style: italic;
		}
	}

	ul.employment {
		li + li {
			margin-top: 1.25em;
		}
	}

	.gist {
		font-size: 14px;
	}

	.section {
		@include container;

		margin-top: 2.5em;

		aside {
			@include span-columns(3);

			figure img {
				max-width: 75%;
			}

			ul {
				font-size: 0.9em;
			}
		}

		section {
			@include span-columns(9 omega);
		}
	}

	#balloon .close a {
		border: none !important;
	}
}


/*
	V. Footer
*/

#contain > footer {
	border-top: 1px solid darken($base, 5%);
	padding: 2em 0 4em;

	.inner {
		@include container;

		nav {
			@include span-columns(6 omega);
		}

		p {
			font-size: 0.9em;
		}

		ul {
			float: right;

			a {
				border: none;
			}

			li {
				display: inline-block;

				& + li {
					padding-left: 0.25em;
				}
			}
		}

		section {
			@include span-columns(6);
		}

		span {
			color: $grey;

			a {
				color: $grey;

				&:hover {
					color: $green;

				}
			}
		}
	}
}
