/*
	Ethan Turkeltaub
		file: css/application.css
*/

@import "lib/base";

/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}


/*
	II. Universal
*/

body {
	background: $base;
	color: $text;
	font: 400 16px/1.75em $serif;
}

a {
	border-bottom: 1px solid $grey;
	color: $text;
	text-decoration: none;

	&:hover {
		color: $green;
	}
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: $sans-serif;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}


/*
	III. Header
*/

#contain > header {
	background: darken($base, 5%);
	padding: 1em 0;

	.inner {
		@include container;
	}

	a {
		border: none;

	}

	aside {
		@include span-columns(6);
	}

	nav {
		@include span-columns(6 omega);

		font-size: 0.9em;

		ul {
			float: right;
		}

		li {
			display: inline-block;

			& + li {
				padding-left: 1em;
			}
		}
	}
}


/*
	IV. Main
*/

#main {
	margin-bottom: 4em;
	margin-top: 2em;

	figure {
		figcaption {
			color: $grey;
			font-style: italic;
		}
	}

	.section {
		@include container;

		margin-top: 2em;

		aside {
			@include span-columns(3);

			figure img {
				max-width: 75%;
			}
		}

		section {
			@include span-columns(9 omega);
		}
	}
}


/*
	V. Footer
*/

#contain > footer {
	border-top: 1px solid darken($base, 5%);
	padding: 2em 0 4em;

	.inner {
		@include container;

		p {
			font-size: 0.9em;
		}
	}
}
