---
layout: default
---

{% assign index = true %}
<section>
	{% for page in paginator.posts %}
		{% assign content = page.content %}
		{% include article.html %}
	{% endfor %}
</section>
<footer>
	<nav>
		<section id="older">
			{% if paginator.next_page %}
				<span><a href="{{ paginator.next_page }}">&larr; Older</a></span>
			{% endif %}
		</section>
		<section id="number">
			<p>{{ paginator.page }} <span>of</span> {{ paginator.total_pages }}</p>
		</section>
		<section id="newer">
			{% if paginator.previous_page %}
				<span><a href="{{ paginator.previous_page }}">Newer &rarr;</a></span>
			{% endif %}
		</section>
	</nav>
</footer>