---
layout: default
---

{% assign index = true %}
<section>
	{% for page in paginator.posts %}
		{% assign content = page.content %}
		{% include article.html %}
	{% endfor %}
</section>
<footer>
	<nav>
		<ul>
			{% if paginator.next_page %}<li id="previous"><a href="{{ paginator.next_page }}">&larr; Older</a></li>{% endif %}
			<li id="number">{{ paginator.page }} <span>of</span> {{ paginator.total_pages }}</li>
			{% if paginator.previous_page %}<li id="next"><a href="{{ paginator.previous_page }}">Newer &rarr;</a></li>{% endif %}
		</ul>
	</nav>
</footer>