<div class="page">
	<div class="section">
		<aside>
			<figure>
				<img src="https://secure.gravatar.com/avatar/f8f311482dd027bc420c0fbe4de7dc33?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" />
			</figure>
		</aside>
		<section>
			<h3>Hi, I'm Ethan, and I'm a student and web developer.</h3>
			<p>I've been making websites for a while &mdash; since the ripe old age of ten. Now, I'm eighteen, and I'm a computer science major at <a href="http://marist.edu">Marist College</a> in Poughkeepsie, New York. I'm also a web developer at <a href="http://fanzter.com">Fanzter</a>, helping them develop new products. For my senior capstone project in high school, I also created <a href="http://beta.getnotedapp.com">Noted</a>, a tool for students to organize their research.</p>
		</section>
	</div>
	<!--<div class="section">
		<aside>
			<h4>Education</h4>
		</aside>
		<section>
			<ul>
				<li>
					<p><strong>Farmington High School</strong></p>
					<p><em>Sept. 2009 &ndash; June 2013</em></p>
				</li>
				<li
			</ul>
		</section>
	</div>-->
</div>
