<div class="page">
	<aside>
		<section>
			<img src="https://secure.gravatar.com/avatar/f8f311482dd027bc420c0fbe4de7dc33?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
		</section>
		<section>
			<p>Student, web developer.</p>
		</section>
	</aside>
	<section>

	</section>
</div>
